* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

body {
    font-family: "Montserrat Alternates", sans-serif;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.header {
    position: fixed;
    background: rgb(255, 255, 255);
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    width: 1200px;
    z-index: 1000;
}

.menu {
    display: flex;
    gap: 48px;
    align-items: center;

    &__link {
        color: rgb(69, 64, 61);
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: left;
    }

    &__link:hover {
        text-decoration: underline;
    }

    &__button {
        color: rgb(162, 101, 57);
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: left;
        font-family: inherit;
        width: 169px;
        height: 52px;
        box-sizing: border-box;
        border: 1px solid rgb(162, 101, 57);
        border-radius: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__button:hover {
        background: rgb(162, 101, 57);
        color: rgb(255, 255, 255);
        transition: ease 0.3s;
    }
}

.top {
    height: 890px;
    background: rgb(246, 245, 244);
    display: flex;
    justify-content: space-between;

    &__text {
        width: 498px;
        color: rgb(69, 64, 61);
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: left;

        &-block {
            width: 498px;
            display: flex;
            gap: 8px;
            flex-direction: column;
        }
    }

    &__button {
        width: 366px;
        height: 52px;
        box-sizing: border-box;
        border: 1px solid rgb(162, 101, 57);
        border-radius: 24px;
        color: rgb(162, 101, 57);
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: left;
        font-family: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    }

    &__button:hover {
        background: rgb(162, 101, 57);
        color: rgb(255, 255, 255);
        transition: ease 0.3s;
    }

    &-right {
        position: relative;
        overflow: hidden;
        width: 800px;
    }

    &__img-main {
        height: 770px;
        position: absolute;
        right: -433px;
        top: 120px;
    }

    &__img-coffee {
        position: absolute;
        height: 450px;
        top: 142px;
    }

    &__img-coffee:hover {
        cursor: pointer;
        animation: spin 3.5s linear infinite;
    }    

    &__img-snacks {
        position: absolute;
        height: 330px;
        top: 481px;
    }

    &__img-snacks:hover {
        cursor: pointer;
        animation: spin 3.5s linear infinite;
    }

    &__img-desserts {        
        position: absolute;
        height: 500px;
        top: 357px;
        right: -74px;
    }

    &__img-desserts:hover {
        animation: spin 3.5s linear infinite;
    }
}

.title {
    width: 550px;
    color: rgb(69, 64, 61);
    font-size: 48px;
    font-weight: 700;
    line-height: 59px;
    margin-bottom: 24px;
    padding-top: 240px;

    &-small {
        width: 490px;
        color: rgb(69, 64, 61);
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
        margin-bottom: 24px;
    }

    &-another{
        margin-bottom: 48px;
        padding-top: 64px; 

        &_link{
            padding: 0;
        }
    }
}

.about-us{
    height: 851px;
    background: rgb(246, 245, 244);

    &__content{
        width: 584px;
        height: 292px;
        border-radius: 24px 24px 24px 0px;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.14);
        background: rgb(255, 255, 255);
        display: flex;
        justify-content: space-between;  
        
        &-left, &-right{
            width: 292px;
            height: 292px;
        }
        
        &-right{
            display: flex;
            flex-direction: column;
            padding-top: 20px;
            padding-left: 20px;
        }
    }

    &--content-box{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 32px;
    }

    &__img{
        width: 292px;
        height: 292px;
        border-radius: 24px 0px 0px 0px;
    }

    &__tittle{
        @extend .title-small;
        margin-bottom: 14px;        
    }

    &__text-block{
        @extend .top__text-block;  
        width: 252px;      
    }

    &__text{
        color: rgb(69, 64, 61);        
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0px;
        text-align: left;
    }
}

.block-menu{
    height: 1087px;
    background: rgb(246, 245, 244);

    &--top{
        display: flex;        
        justify-content: space-between;
        height: 59px;
        padding-top: 64px;  
    }

    &__link{
        display: flex;
        gap: 7px;
        height: 59px;   
        align-items: center;           
    }

    &__button{
        width: 120px;
        height: 45px;
        box-sizing: border-box;
        border: 1px solid rgb(162, 101, 57);
        border-radius: 24px;
        color: rgb(162, 101, 57);
        font-size: 14px;
        font-weight: 600;
        line-height: 17px;
        letter-spacing: 0px;
        text-align: left;
        font-family: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__button:hover{
        background: rgb(162, 101, 57);
        color: rgb(255, 255, 255);
        transition: ease 0.3s;
    }

    &__button.active {
        background: rgb(162, 101, 57);
        color: #fff;
    }

    &__content-bigbox{
        position: relative;
        height: 900px;  
    }

    &__content-box{
        margin-top: 48px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;
        gap: 32px;        
    }

    &__content{
        width: 276px;
        height: 410px;
        background: rgb(255, 255, 255);         
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.14);
        border-radius: 24px;        
    }

    &__up{
        height: 276px;        
        border-radius: 24px 24px 0 0;
        background-color: #DEDEDE;
    }

    &__img{
        height: 276px;
        border-radius: 24px;          
    }

    &__down{
        height: 134px;
        display: flex;
        gap: 7px;
        margin: 20px;
        flex-direction: column; 
    }

    &__price{
        color: rgb(69, 64, 61);
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
        letter-spacing: 0px;
        text-align: left;
    }

    &__desk{
        color: rgb(69, 64, 61);
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0px;
        text-align: left;
    }

    &__volume{
        color: rgb(154, 154, 154);
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0px;
        text-align: left;
    }
}

/* Общие стили для всех секций */
#coffee,
#desserts,
#snacks {
    position: absolute;
    top: 0;
    left: 0;    
    opacity: 0;
    visibility: hidden;    
    transition: 1s ease;
}

/* Активное состояние (видимый блок) */
#coffee.active,
#desserts.active,
#snacks.active {
    opacity: 1;
    visibility: visible;    
}

.reviews{
    height: 683px;
    background: rgb(246, 245, 244);

    &__content-box{
        display: grid;
        grid-template-columns: repeat(3, 1fr);        
        gap: 32px;        
    }

    &__content{
        width: 379px;
        height: 208px;
        border-radius: 24px;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.14);
        background: rgb(255, 255, 255);
        
        &-container{
            margin: 20px;
        }
    }

    &__content-up{
        width: 83px;
        margin-bottom: 20px;
        display: flex;
        gap: 15px;
    }

    &__foto{        
        border-radius: 60px;
        width: 63px;       
    }

    &__client{
        display: flex;
        flex-direction: column;
        gap: 7px;
        width: 135px;
    }

    &__client-name{
        color: rgb(69, 64, 61);
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
        letter-spacing: 0px;
        text-align: left;
    }

    &__text{
        color: rgb(69, 64, 61);
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0px;
        text-align: left;
        width: 334px;
    }
}

.contacts{    
    height: 749px;
    background: rgb(246, 245, 244);
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

